@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom right, #2b5876, #4e4376);
  display: flex;
  margin: 0;
}

.animated-svg {
  animation: wave 2s infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 200px;
  height: 20px;
  background: 
    linear-gradient(90deg, #0000 ,orange) left -50px top 0/50px 20px no-repeat 
    lightblue;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  100% {background-position: right -50px top 0}
}
